<h1>Editing sample tag</h1>

<%= render "form", sample_tag: @sample_tag %>

<br>

<div>
  <%= link_to "Show this sample tag", @sample_tag %> |
  <%= link_to "Back to sample tags", sample_tags_path %>
</div>
