<li>
  <%= link_to "User Log Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" %>
</li>