<div class="hero min-h-screen" style="background-image: url(https://images.unsplash.com/photo-1576450684081-b55c6e7a3131?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Sampl</h1>
      <p class="mb-5">Leading Open Source and independent Audio Library — Created by artists, for artists</p>
      <%= link_to "Get Started For Free", sample_packs_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>