<h1>Editing sample pack</h1>

<%= render "form", sample_pack: @sample_pack, url: artists_sample_pack_path %>

<br>

<div>
  <%= link_to "Show this sample pack", artists_sample_pack_path(@sample_pack) %> |
  <%= link_to "Back to sample packs", artists_sample_packs_path %>
</div>
