<h1>Editing sample pack</h1>

<%= render "form", sample_pack: @sample_pack %>

<br>

<div>
  <%= link_to "Show this sample pack", @sample_pack %> |
  <%= link_to "Back to sample packs", sample_packs_path %>
</div>
