<div class="bg-neutral mb-6">
  <h1 class="prose prose-gray text-2xl font-semibold mb-6 px-6 py-4 max-w-5xl mx-auto">Create A New Sample Pack</h1>
</div>
<div class="max-w-5xl mx-auto px-6">
  <%= render "form", sample_pack: @sample_pack %>
</div>

<!-- <div>
  <%= link_to "Show this sample pack", @sample_pack %> |
  <%= link_to "Back to sample packs", sample_packs_path %>
</div> -->
