<p style="color: green"><%= notice %></p>

<h1 class="text-2xl font-semibold mb-4">Sample packs collection</h1>

<div id="sample_packs">
  <% @sample_packs.each do |sample_pack| %>
    <%= render sample_pack %>
    <p>
      <%= link_to "Show this sample pack", sample_pack %>
    </p>
  <% end %>
</div>

<%= link_to "New sample pack", new_sample_pack_path %>
