<%= render @sample_pack %>

<div>
  <% if current_user.artist? && current_user.id == @sample_pack.user.id %>
    <%= link_to "Edit this sample pack", edit_sample_pack_path(@sample_pack) %> |
    <%= link_to "Back to sample packs", sample_packs_path %>

    <%= button_to "Destroy this sample pack", @sample_pack, method: :delete %>
  <% end %>
</div>
